<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true"
    cdkDrag>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" cdkDragHandle>
                <h5 class="modal-title" id="confirmationModalLabel">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" class="submit1">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="confirm()" class="submit1">Confirm</button>
            </div>
        </div>
    </div>
</div>