

    <div class="form-container">
        <div class="board-form-inner2">

            <form class="sticky" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="header">
                    <h2 class="white">KanbanBoard</h2>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" type="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" formControlName="password" type="password">
                </div>
                <button type="submit">Login</button>

                <button class="submit1" (click)="goToRegister()">Sign up?</button>
            </form>

        </div>
    </div>
