.openPopup {
    width: 30%; /* Adjusted width as needed */
    height: 90%; /* Adjusted height to fit content */
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center align children */
    justify-content: center;
    position: fixed; /* Position it fixed to the viewport */
    top: 50%; /* Adjust this value to create space at the top */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center */
}

.pagination {
    margin-top: 20px; /* Space above pagination */
    display: flex; /* Flexbox for pagination buttons */
    justify-content: space-between; /* Space between buttons */
    width: 100%; /* Full width for pagination */
}

button {
    margin-top: -15px;
    background-color: transparent; /* Primary button color */
    font-size: 15px;
    color: rgb(0, 0, 0); /* Text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded button corners */
    padding: 10px 15px; /* Button padding */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
}   

h2 {
    margin-top: -20px;
    font-size: 15px; /* Title font size */
    color: #333; /* Title color */
    text-align: center; /* Center the title text */
    width: 100%; /* Ensure full width for centering */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
}

.image-viewport {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}


.upload-container {
    display: flex; /* Flexbox for layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack children vertically */
    height: 100%; /* Ensure it takes full height */
}

.view-image-container {
    width: 100%; /* Set fixed width */
    height: 100%; /* Set fixed height */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    position: relative; /* Ensure proper positioning */
}

.view-image-container img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    max-height: none; /* Prevent max height restriction */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    position: absolute; /* Position absolutely for centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(1); /* Ensure initial scale is 1 */
    transition: transform 0.3s ease; /* Smooth transition for zoom */
}

.edit-image-container {
    width: 100%; /* Set fixed width */
    height: 100%; /* Set fixed height */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    position: relative; /* Ensure proper positioning */
}

.edit-image-container img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    max-height: none; /* Prevent max height restriction */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    position: absolute; /* Position absolutely for centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(1); /* Ensure initial scale is 1 */
    transition: transform 0.3s ease; /* Smooth transition for zoom */
}

.select-button {
    margin-top: 10px;
    background-color: #551919;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    height: auto;
}

.select-button:hover {
    background-color: #a72727;
}

.description {
    width: 100%; /* Full width */
    height: 100px; /* Height of the input */
    background-color: #ffffff; /* Background color */
    color: #000000; /* Text color */
    border: none; /* No border */
    padding: 10px;
}

.description:focus {
    outline: none; /* Remove default outline */
}

.emoji-picker {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%); /* Center vertically */
    margin-bottom: -20px;
    cursor: pointer;
}

.parent-container {
    padding-top: 20px; /* Space at the top */
    padding-bottom: 20px; /* Space at the bottom */
}

/* New class for zooming */
.zoomed {
    transform: translate(-50%, -50%) scale(1.5); /* Adjust scale as needed */
}

.crop-button {
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    position: absolute; /* Position it above the image */
    bottom: 10px; /* Position from the bottom */
    left: 10px; /* Position from the left */
    z-index: 10; /* Ensure it appears above the image */
    padding: 2px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.crop-button mat-icon {
    font-size: 24px; /* Adjust icon size */
    color: #b4b2b2; /* Icon color */
}

.crop-button mat-icon:hover {
    color: #ffffff;
}

.filter-button {
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    position: absolute; /* Position it above the image */
    bottom: 10px; /* Position from the bottom */
    left: 60px; /* Adjust position to the right of the crop button */
    z-index: 10; /* Ensure it appears above the image */
    padding: 2px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.filter-button mat-icon {
    font-size: 24px; /* Adjust icon size */
    color: #b4b2b2; /* Icon color */
}

.filter-button mat-icon:hover {
    color: #ffffff;
}
