/* Add some basic styling to the form */
form {
    width: 400px;
    padding: 20px;
    height: 100%;
}

/* Style the labels and inputs */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

input,
textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="date"] {
    padding: 10px 10px 10px 20px;
    /* add some extra padding for the date picker icon */
}

textarea {
    height: 100px;
    resize: vertical;
    max-height: 236px;
}

/* Style the submit button */
button[type="submit"] {

    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #042145;
    border: 1px solid #bedbff;
    color: #bedbff;
}

button[type="submit"]:hover {
    background-color: #bedbff;
    color: #042145;
    transform: scale(1.1);
}

.submit1 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #042145;
    border: 1px solid #bedbff;
    color: #bedbff;
}

.submit1:hover {
    background-color: #bedbff;
    color: #042145;
    transform: scale(1.1);
}

.sticky button+button {
    margin-left: 10px;
}


hr {
    background-color: #ffffff;
}


/* Make the form responsive */
@media (max-width: 600px) {
    form {
        margin: 20px;
    }
}