<div class="profile-container">
    <div class="header">
        <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
        <button *ngIf="showUploadButton" class="action-button" (click)="fileInput.click()">Upload a file</button>
        <img src="http://localhost/IMAGE-GALLERY/backend/profile/{{ avatar }}" alt="Profile Picture" class="profile-image" (click)="showUploadButton = !showUploadButton">
        <div class="profile-info">
            <p class="username">{{ firstname }}</p>
            <p class="email">{{ email }}</p>
            <p class="post-count">{{ postCount }} post</p>
        </div>
        <div class="profile-actions">
            <button class="action-button" (click)="showEditPopup = true">Edit profile</button>
        </div>
    </div>
    <div class="divider"></div>
    <div *ngIf="cards.length === 0" style="display: flex; align-items: center; justify-content: center; height: 100%; font-size: 30px; color: #000000; margin: 20px 0;">No posted yet</div>
    <div class="profile-gallery">
        
        <div class="card" *ngFor="let card of cards" (click)="openPopup(card.imagePath, card.id, card.description, card.date); updateUrl(card.id)">
            <img [src]="card.imagePath" alt="Gallery Image">
            <div class="emoticons">
                <span class="material-icons">favorite</span> {{ totalReacts[card.id] || 0 }}
                <span class="material-icons">comment</span> 5
            </div>
        </div>
    </div>
    <app-popup-show 
        [selectedImageId]="selectedImageId !== undefined ? selectedImageId.toString() : '0'" 
        *ngIf="showPopup" 
        [imagePath]="selectedImage" 
        [avatar]="avatar"
        [firstName]="firstname"
        [description]="description"
        [datePosted]="datePosted"
        (popupClosed)="closePopup()">
    </app-popup-show>
    <app-edit-profile 
        *ngIf="showEditPopup" 
        [firstname]="firstname" 
        [email]="email" 
        [avatar]="avatar" 
        (profileUpdated)="updateProfile($event)" 
        (popupClosed)="showEditPopup = false">
    </app-edit-profile>
</div>
