<div class="profile-container">
    <div class="header">
        <img src="http://localhost/IMAGE-GALLERY/backend/profile/{{ avatar }}" alt="Profile Picture" style=" width: 150px; /* Smaller size for mobile */
        height: 150px; /* Smaller size for mobile */
        border-radius: 50%; /* Circular shape */
        background-size: cover; /* Cover the entire area */
        background-position: center; /* Center the image */
        margin-right: 10px; /* Adjusted margin for better alignment */
        border: solid 5px transparent; /* Set border to transparent for gradient */
        background-image: linear-gradient(to right, rgb(153, 33, 63), rgb(255, 165, 0), rgb(216, 187, 26)); /* Updated gradient for smoother transition */
        background-clip: border-box; /* Clip the background to the border */
        -webkit-background-clip: border-box; /* For Safari compatibility */
        position: relative; /* Positioning for pseudo-element */
        z-index: 1; "> <!-- Corrected src binding -->
        <div class="profile-info">
            <h2>{{ firstname }}</h2> <!-- This should display the firstname -->
        </div>
        <div class="profile-actions">
            <button>Edit profile</button>
            <button>Settings</button>
        </div>
    </div>
    <div class="divider"></div>
    <div *ngIf="cards.length === 0" style="display: flex; align-items: center; justify-content: center; height: 100%; font-size: 30px; color: #000000; margin: 20px 0;">No posted yet</div> <!-- Message when no images are available -->
    <div class="profile-gallery">
        
        <div class="card" *ngFor="let card of cards" (click)="openPopup(card.imagePath, card.id); updateUrl(card.id)">
            <img [src]="card.imagePath" alt="Gallery Image">
            <div class="emoticons">
                <span class="material-icons">favorite</span> 4
                <span class="material-icons">comment</span> 5
            </div>
        </div>
    </div>
    <app-popup-show 
        [selectedImageId]="selectedImageId !== undefined ? selectedImageId.toString() : '0'" 
        *ngIf="showPopup" 
        [imagePath]="selectedImage" 
        [avatar]="avatar"
        [firstName]="firstname"
        (popupClosed)="closePopup()">
    </app-popup-show>
</div>
