.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 6fr));
    gap: 20px;
    padding: 20px;
    color: black;
    width: 80%;
    margin-left: 10%;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 500px;
}

.card:nth-child(odd) {
    grid-column: span 1;
    grid-row: span 1;
}

.card:nth-child(even) {
    grid-column: span 2;
    grid-row: span 1;
}

.card:nth-child(3) {
    grid-column: span 3;
    grid-row: span 1;
}

.card:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
}


.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.card:hover .content img {
    transform: scale(1.05);
}





/* Media query for smaller screens */

@media (max-width: 600px) {
    .dashboard-container {
        grid-template-columns: 1fr; /* Stack cards in a single column */
    }

    .card {
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        height: 200px;
    }
    
    .card:nth-child(odd) {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .card:nth-child(even) {
        grid-column: span 1;
        grid-row: span 1;
    }

}

/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 900px) {
    .dashboard-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    }

    .card {
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        height: 300px;
    }
    .card:nth-child(odd) {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .card:nth-child(even) {
        grid-column: span 1;
        grid-row: span 1;
    }
}

/* Media query for laarage screens */
@media (min-width: 901px) and (max-width: 1700px) {
    .dashboard-container {
        grid-template-columns: repeat(3, 1fr); /* Two columns layout */
    }

    .card {
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        height: 400px;
    }

    .card:nth-child(odd) {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .card:nth-child(even) {
        grid-column: span 1;
        grid-row: span 1;
    }

}



.loader {
    position: absolute;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    overflow: hidden;
    font-family: verdana;
    letter-spacing:-21px;
    border: 1px solid #ececec;
    border-bottom-right-radius: 40px;
    z-index: 1;
    &:after {
      position: absolute;
      content: '';
      width: 150px;
      height: 0px;
      bottom: 0;
      left: 0;
      opacity: 1;
      background: #e54e02;
      animation: loader 3s infinite;
      z-index: 0;
    }
    &:before {
      content: 'IG';
      position: absolute;
      z-index: 1;
      font-size: 100px;
      top: 50%;
      left: 50%;
      margin: -55px 0 0 -65px;
      color: #fff;
    }
  }
  @keyframes loader {
    0% {
      height: 0;
      opacity: 1;
    }
    80% {
      height: 150px;
      opacity: 1;
    }
    100% {
      height: 150px;
      opacity: 0;
    }
  }
  