<div class="dashboard-container">
    <div *ngFor="let card of cards" class="card">
        <div class="info">
            <img src="uploads/mike.jpg" alt="" style=" width: 30px; /* Smaller size for mobile */
            height: 30px; /* Smaller size for mobile */
            border-radius: 50%; /* Circular shape */
            background-size: cover; /* Cover the entire area */
            background-position: left; /* Center the image */
            position: relative;">
            <p>maykiboy_</p>
        </div>
        <div class="content">
            <img src="uploads/mike.jpg" alt="">
        </div>

        <div class="icons">
            <i class="fa fa-heart" aria-hidden="true"></i> <!-- Heart icon -->
            <i class="fa fa-comment" aria-hidden="true"></i> <!-- Comment icon -->
            <i class="fa fa-share" aria-hidden="true"></i> <!-- Share icon -->
        </div>
    </div>
</div>
