html, body, 
.dashboard-container
.profile-container { 
    height: 100%; 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add this to your existing CSS */
::-webkit-scrollbar {
    width: 5px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(68, 28, 28); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}
