/* You can add global styles to this file, and also import other style files */
* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.circles,
.area,
.form-background {
    z-index: -1;
}

.area {
    position: absolute;
    top: 0;
}

.position-relative {
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

body,
.board-container,
.kanban-board-container {
    width: 100%;
    height: 100%;
}

h1,
h2 {
    color: #000000;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

h1,
h2,
p {
    word-wrap: break-word;
}

hr {
    margin: 20px 0 20px 0;
}

.sticky-h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.justify {
    text-align: justify;
}

.white {
    color: white;
}

.cdk-drag-preview {
    
    overflow: hidden;
    height: fit-content !important;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 0 20px 20px 20px !important;
}


/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



/* Animate an item that has been dropped. */
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
    background: #241b1b;
    border: dotted 3px #999;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    height: fit-content !important;
    padding: 0 20px 20px 20px !important;
    opacity: 50% !important;
    margin-top: 20px;
}





.modal-backdrop{
    z-index: 0;
  }
  





.logo-background {
    position: absolute;
    right: -20%;
    top: 0;
    z-index: -1;
    width: auto;
    height: 100%;
}

.logo-background-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: auto;
    height: 100%;
}

.logo-bg-img {
    width: auto;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.logo-bg-img-1 {
    width: auto;
    height: 100%;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #e1e1e1;
    overflow: hidden;
    z-index: -1;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 18s linear infinite;
}

.background li:nth-child(0) {
    left: 17%;
    width: 236px;
    height: 236px;
    bottom: -236px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 57%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 5s;
}

.background li:nth-child(2) {
    left: 10%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 8s;
}

.background li:nth-child(3) {
    left: 46%;
    width: 207px;
    height: 207px;
    bottom: -207px;
    animation-delay: 3s;
}

.background li:nth-child(4) {
    left: 78%;
    width: 253px;
    height: 253px;
    bottom: -253px;
    animation-delay: 18s;
}

.background li:nth-child(5) {
    left: 41%;
    width: 216px;
    height: 216px;
    bottom: -216px;
    animation-delay: 5s;
}

.background li:nth-child(6) {
    left: 86%;
    width: 253px;
    height: 253px;
    bottom: -253px;
    animation-delay: 24s;
}

.background li:nth-child(7) {
    left: 14%;
    width: 223px;
    height: 223px;
    bottom: -223px;
    animation-delay: 6s;
}

.background li:nth-child(8) {
    left: 65%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 23s;
}

.background li:nth-child(9) {
    left: 24%;
    width: 257px;
    height: 257px;
    bottom: -257px;
    animation-delay: 27s;
}

.background li:nth-child(10) {
    left: 52%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 21s;
}

.background li:nth-child(11) {
    left: 69%;
    width: 245px;
    height: 245px;
    bottom: -245px;
    animation-delay: 45s;
}

.background li:nth-child(12) {
    left: 2%;
    width: 219px;
    height: 219px;
    bottom: -219px;
    animation-delay: 43s;
}

.background li:nth-child(13) {
    left: 33%;
    width: 250px;
    height: 250px;
    bottom: -250px;
    animation-delay: 14s;
}

.background li:nth-child(14) {
    left: 63%;
    width: 218px;
    height: 218px;
    bottom: -218px;
    animation-delay: 59s;
}

.background li:nth-child(15) {
    left: 1%;
    width: 215px;
    height: 215px;
    bottom: -215px;
    animation-delay: 66s;
}

.background li:nth-child(16) {
    left: 1%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 31s;
}

.background li:nth-child(17) {
    left: 32%;
    width: 221px;
    height: 221px;
    bottom: -221px;
    animation-delay: 29s;
}

.background li:nth-child(18) {
    left: 18%;
    width: 172px;
    height: 172px;
    bottom: -172px;
    animation-delay: 71s;
}

.background li:nth-child(19) {
    left: 83%;
    width: 202px;
    height: 202px;
    bottom: -202px;
    animation-delay: 57s;
}

.background li:nth-child(20) {
    left: 61%;
    width: 238px;
    height: 238px;
    bottom: -238px;
    animation-delay: 72s;
}

.background li:nth-child(21) {
    left: 38%;
    width: 213px;
    height: 213px;
    bottom: -213px;
    animation-delay: 95s;
}

.background li:nth-child(22) {
    left: 59%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 108s;
}

.background li:nth-child(23) {
    left: 50%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 48s;
}

.background li:nth-child(24) {
    left: 21%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 10s;
}

.background li:nth-child(25) {
    left: 58%;
    width: 240px;
    height: 240px;
    bottom: -240px;
    animation-delay: 66s;
}

.background li:nth-child(26) {
    left: 8%;
    width: 193px;
    height: 193px;
    bottom: -193px;
    animation-delay: 125s;
}

.background li:nth-child(27) {
    left: 64%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 9s;
}

.background li:nth-child(28) {
    left: 31%;
    width: 253px;
    height: 253px;
    bottom: -253px;
    animation-delay: 30s;
}

/* pagination styles  */
.current {
    background: #f89938 !important;
    border-radius: 10% !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
