<div class="position-relative">
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


    <div class="form-container">

        <div class="board-form-inner2">

            <form class="sticky" [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="header">
                    <h2 class="white">Register</h2>
                    <hr class="white">
                </div>
                
                <div>
                    <label for="firstName">First Name</label>
                    <input id="firstName" formControlName="firstName" type="firstName">
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input id="lastName" formControlName="lastName" type="lastName">
                </div>
                <div>
                    <label for="middleName">Middle Name</label>
                    <input id="middleName" formControlName="middleName" type="middleName">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" type="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" formControlName="password" type="password">
                </div>
                <hr>
                <button type="submit">Register</button>
                <button class="submit1" (click)="goToLogin()">Sign in?</button>
            </form>
        </div>
    </div>
